shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
manage-package-manager-versions=false
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@nestjs/core
